# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Blender backup files
*.blend1
*.blend2
*.blend3
*.blend4
*.blend5

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo 